<h2>Listado de recetas</h2>
<%= link_to 'Nueva receta', new_receta_path %>
<ul>
  <% @recetas.each do |receta| %>
    <li>
      <%= link_to receta.nombre, receta_path(receta) %>
      <%= link_to :Editar, edit_receta_path(receta) %>
      <%= button_to :Eliminar, receta_path(receta), {:method => 'delete'} %>
    </li>
  <% end %>
</ul>